<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ACME Moonshot Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center m-5 bg-info">
            <h1 class="display-4" style="text-align:center"><b><i class="fas fa-bomb"></i>ACME Software Company</b>
            </h1>
            <hr class="my-4">
            <h1 style="text-align:center">Moonshot Team Members</h1>
        </div>
        <!-- <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading bg-info">
                <h1 class="text-center">ACME Software Company</h1>
                <h2 class="text-center">Moonshot Team Members</h2>
            </div>
        </div> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area col-12 row justify-content-center">
                {{ team }}
            </div>
        </div>
    </div>
</body>

</html>